html,body{
    min-height: 100%;
    height: 100%;
}

body{
    line-height: 150%;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: $txt1_main;
    position: relative;
    overflow-y: scroll;

    display: flex;
    flex-flow: column;
}

p{
    word-break: break-word
}

// .fade-enter-active, .fade-leave-active {
//   transition: opacity .3s;
// }

// .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
//   opacity: 0;
// }

.big-number{
    font-size: 48px;
    display: block;
    line-height: 1.2em;
}

img{
    object-fit: contain;
    border-radius: 4px;

}

select,option{
    outline: none;
    border: none
}

h1,h2,h3{
    line-height: 110%;
    font-family: "Bebas Neue";
}

.date{
    color: $txt2 !important;
}

h4,h5{
    font-family: 'Montserrat', sans-serif;
}

h1.big{
    font-size: 64px;
}

h1,h2{
    font-size: 48px;
}

h3,.h3{
    font-size: 32px;
}

h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2083333em;
}

h5{
    font-weight: 700;
    font-size: 20px;
}

.container{
    padding: 0;
}

.little-title{
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
}

.text-blue{
    color: $blue1_main
}

.text-bold{
    font-weight: 600;
}

.little-desc{
    font-size: 12px;
    color: $txt2;
    line-height: 1.2;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.d-inline-flex{
    display: inline-flex;
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    align-items: flex-end;
}

.w-100{
    width: 100% !important;
}

.mw-100{
    max-width: 100%;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.d-grid{
    display: grid;
}

.ml-auto{
    margin-left: auto;
}

.mr-auto{
    margin-right: auto;
}
.color-blue{
    color: $blue1_main
}


.color-dark{
    color: $txt1_main !important
}
.flex-wrap{
    flex-wrap: wrap;
}

a{
    color: $txt1_main;
    font-size: 12px;
    display: inline-block;
    line-height: 1.2192857142857143em;
    word-break: break-all;
}

.small{
    opacity: .6;
}
.text-underline{
    text-decoration: underline;
}

.page_profile{
    background: #f8f8f8;
    padding: 64px 0;
}

.mb-0{
    margin-bottom: 0 !important;
}

#form1{
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    html{
        padding-right: 0 !important;
    }
    .mb-sm-0 {
        margin-bottom: 0 !important;
    }

    .big-number{
        font-size: 32px;
        line-height: 39px
    }

    .little-title{
        font-size: 12px;
        
    }
}