$txt1_main: #151515;
$blue1_main: #5EB9E8;
$blue2: #A4DEFC;
$blue3: #D7F1FF;
$yellow: #FFF217;
$txt2: #909090;
$grey1_stroke: #D6D6D6;
$grey2_bg: #F1F1F1;
$grey3_bg: #F8F8F8;
$white: #FFFFFF;
$red_error: #FF4040;
$green_correct: #33B233;

$radius: 4px;
$shadow: 0px 4px 8px rgba(21, 21, 21, 0.12);
$shadow_blk_light: 0px 4px 16px rgba(0, 0, 0, 0.08);
