$txt1_main: #151515;
$blue1_main: #5EB9E8;
$blue2: #A4DEFC;
$blue3: #D7F1FF;
$yellow: #FFF217;
$txt2: #909090;
$grey1_stroke: #D6D6D6;
$grey2_bg: #F1F1F1;
$grey3_bg: #F8F8F8;
$white: #FFFFFF;
$red_error: #FF4040;

