.page_bg2{
  background-image: url("../img/bg-2.webp");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto;
}


.form_edit-info{
  .input-group:first-child{
    margin-bottom: 24px;
  }
}