.btn{
  cursor: pointer;
  border-radius: 4px;
  transition: all .3s ease;
}

.btn_style1{
  font-weight: 500;
  padding: 16px 32px;
  font-size: 16px;
  background: $yellow;
  color: $txt1_main;
  box-shadow: 0px 4px 8px rgba(255, 242, 23, 0.24);

  &:hover{
    background: $blue1_main;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(94, 185, 232, 0.24);
  }

  &:active {
    color: $txt1_main;
    background: $blue2;
    box-shadow: 0px 4px 8px rgba(94, 185, 232, 0.24);
  }

  &.inactive{
    background: $grey1_stroke;
    box-shadow: unset;
  }
}

.btn_style2{
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid $txt1_main;
  padding: 12px 16px;
  text-transform: uppercase;

  &:hover{
    background: $blue1_main;
    border-color: $blue1_main;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(94, 185, 232, 0.24);
  }

  &:active {
    color: $txt1_main;
    background: $blue2;
    border-color: $blue2;
    box-shadow: 0px 4px 8px rgba(94, 185, 232, 0.24);
  }
}

.btn_style3{
  border: 1px solid $yellow;
  padding: 16px 32px;
  font-weight: 500;
  color: $txt1_main;

  &:hover{
    border-color: $blue1_main;
  }
  &:active{
    border-color: $blue2;
  }
  &.inactive{
    border-color: $grey1_stroke;
  }
}


.btn_style4{
  background: $grey2_bg;
  padding: 12px 24px;
  line-height: 1.2em;
  text-transform: uppercase;

  &:hover{
    background: $blue2;
  }
  &.active{
    background: $blue2;
  }
}

.btn_style5{
  background: rgba(2, 114, 59, 0.1);
  color: #02723B;
  padding: 12px 16px;
  font-size: 14px;
  &:hover{
    background: rgba(2, 114, 59, 0.3)
  }
}

@media screen and (max-width: 768px) {
    .btn_style4{
      font-size: 11px;
    }
}


.login-btn{
  font-size: 16px;
  text-decoration: underline;
}