.card_style1{
    padding: 32px;
    
    &__title{
        margin-bottom: 24px;
    }
    &__desc{
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 24px;

        p:not(:last-child){
            margin-bottom: 24px;
        }
    }
}

.card_style2 > div{
    padding: 16px 16px 32px 16px;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    &:hover{
        box-shadow: 0px 4px 8px rgba(21, 21, 21, 0.12);
    }

    .card__title{
        margin: 24px 0 16px 0;
    }

    .card__desc{
        color: $txt2;
        margin-bottom: 32px;
        // min-height: 63px;
    }

    .card__price{
        margin-bottom: 16px;
    }

    .card_style2__btn{
       width: 100%;
       margin-bottom: 24px;
       text-align: center;
    }

    
}

.card__learn-more{
    text-decoration: underline;
    color: $txt2;
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    width: 100%;
    &:hover{
        text-decoration: none;
    }
}

.card{
    margin-bottom: 32px;
    &__thumbnail{
        border-radius: 4px 4px 0 0;
        max-width: 100%;
        width: 100%;
    }
    &__title{
        word-break: break-word
    }
    &__price{
        font-weight: 600;
        span{
            font-weight: 700;
            font-size: 20px;
            line-height: 1.2;
        }
    }
    &__footer{
        margin: 0;
    }
}

.card__poster{
    position: relative;
}

.card__poster-alert{
    position: absolute;
    bottom: 12px;
    right: 8px;
    background: $blue3 !important;
}


.grid-sizer,
.grid-item { width: 47%; margin-bottom: 30px; background: #fff; }


@media screen and (max-width: 768px){
    .card_style2 > div{
        padding-bottom: 24px;
        .card__title{
            margin: 12px 0 8px 0;
        }
        .card__desc{
            font-size: 12px;
        }
        .card__price{
            margin-bottom: 12px;
        }
        .card_style2__btn{
            margin-bottom: 16px;
        }
    }

    .grid-sizer,    
    .grid-item { width: 100%; margin-bottom: 30px; }
}

.card_disabled{
    cursor: not-allowed;

    p,picture{
        opacity: .4 !important;
        color: $txt2;
    }

    .btn, .btn:hover{
        background: $grey2_bg !important;
        border-color: $grey2_bg !important;
        cursor: not-allowed;
        color: $txt2
    }
}