.dropdown{
  position: relative;
}

.dropdown:hover .dropdown__list{
  opacity: 1;
  visibility: visible;
  top: 48px
}

.dropdown__icon{
  margin-left: 7px;
}

.dropdown__list{
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  padding: 12px 0 12px 0;
  position: absolute;
  top: 82px;
  visibility: hidden;
  transition: all .3s ease;
  opacity: 0;
  max-width: 186px;
  width: 186px;
  z-index: 9999;
}

.dropdown__item{
  a{
    line-height: 1.2192857142857143em;
    display: block;
    font-size: 14px;
    padding: 6px 0 8px 16px;
    &:hover{
      background: $grey2_bg;
    }
    &:active{
      background: $grey1_stroke;
    }
  }
}