.footer{
  font-size: 12px;
  opacity: .6;

  position: absolute;
  bottom: 16px;
}

.footer2{
  padding: 16px 0;
  font-size: 12px;
  opacity: .6;
  text-decoration: underline;
}

.footer-menu{
  li:not(:last-child){
    margin-right: 24px;
  }
  li{
    &:hover a{
      text-decoration: underline;
    }
  }
}