.footer{
  font-size: 12px;
  opacity: .6;

  position: absolute;
  bottom: 16px;
}

.footer2{
  padding: 16px 0;
  font-size: 12px;
  opacity: .6;
  line-height: 1.2em;
  a{
    text-decoration: underline;
    line-height: inherit;
  }

  a:hover{
    text-decoration: unset;
  }
}

@media (max-height: 760px){
  footer{
    position: static !important;
  }
}