.header{
  // position: sticky;
  // top: -80px;
  // background: #fff;
  // z-index: 9;
  // box-shadow: 0px 4px 8px rgba($grey1_stroke, 0.24);
  a{
    font-size: 14px;
  }
}

.header_top{
  padding: 16px 0 10px 0;
}

.header_bottom{
  padding: 9px 0 11px 0;
  border-top: 2px solid $grey2_bg ;
}

.logo{
  margin-left: -25px;
}

.burger{
  display: none;
}

.header__lang{
  margin-right: 9px;
  margin-left: auto;
}
.header__cart{
  margin: 0 30px 0 32px;
  cursor: pointer;

  &-count{
    width: 29px;
    height: 24px;
    border-radius: 12px;
    background: $yellow;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
  }
}

.header__sign-up{
  margin-left: 64px;
}


.profile-mini{
  .dropdown__list{
    top: 82px !important;
    left: -33px;
  }
  &.dropdown:hover .dropdown__list{top: 64px !important}
  &__name{
    font-weight: 600;
  }
  &__avatar{
    border-radius: 4px;
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin-right: 12px;
    margin-left: 12px;
  }
}

.main-nav{
  &__item:not(:last-child){
    margin-right: 16px;
  }
  &__item.active a,&__item:hover a{
    color: $blue1_main;
  }
  &__item.inactive a{
    color: $txt2;
    cursor: not-allowed;
  }
  &__item span{
    margin-right: 4px;
    display: inline-block;
    font-size: 10px;
    color: $blue1_main;
    padding: 4px 8px;
    border-radius: 4px;
    background: rgba(215, 241, 255, 0.5);
    letter-spacing: 0.1em;
    line-height: 1.2em;
    text-transform: uppercase;
  }
}

.header__search-form{
  margin-left: 48px;
}

@media (max-width: 992px){
  .header__search-form{
    margin-left: 0;
  }
  .header__search-form .input-group{
    margin-top: 20px;
    justify-content: flex-start;
  }
}

@media (max-width: 768px){
  .header__search-form .input-group{
    margin-top: 0px;
  }
}