.overlay{
    background: rgba($txt2,.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: all .3s ease;
    z-index: 999999;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    &.active{
        visibility: visible;
        opacity: 1;

        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        outline: 0;
        left: 0;
        top: 0;
    }
}

.mobile-menu{
    width: 297px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: -100%;
    transition: all .3s ease;
    top: 0;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    padding: 16px 15px 0 15px;
    overflow-y: scroll;
    &.active{
        left: 0
    }

    .profile-mini__avatar{
        width: 48px;
        height: 48px;
        margin-right: 16px;
    }
    &__profile-name{
        font-weight: 700;
        font-size: 16px;
    }
    &__profile-email{
        font-size: 12px;
        color: $txt2;
        margin-top: 4px;
    }
    &__list{
        padding: 18px 0;

        border-bottom: 2px solid $grey2_bg;
    }
    &__item{
        padding: 8px 0;
        line-height: 17.07px;
        a{
            font-size: 14px;
        }
    }

    &__language{
        border: unset;
        background: unset;
        font-family: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -ms-progress-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        padding-right: 15px;
        background: url('../img/arrow-down.svg') no-repeat right center / auto;
    }

    &__title{
        text-transform: uppercase;
        color: $txt2;
        font-size: 14px;
        letter-spacing: 0.1em;
        margin-bottom: 16px;
        font-weight: 500;
    }

    &__list_last{
        border-bottom: unset;
        .mobile-menu__title{
            margin-bottom: 8px;
        }
    }
}