.remodal_size_big{
  max-width: 786px;
  width: 100%;
}


.modal{
  font-size: 16px;
}



.hello-modal__title{
  margin-bottom: 48px;
}

.modal__title{
  margin-bottom: 32px;
}

.modal__text{
  margin-bottom: 48px;
  line-height: 1.5;
}

.modal__btn{
  margin-right: 32px;
}

.input-group__note{
  color: $txt2;
  display: flex;


  svg{
    margin-right: 12px;
    flex-shrink: 0;
  }
}

.modal-wrap{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($txt2,.5);

  transition: all .3s ease;
  transform: scale(1.05);
  opacity: 0;
  visibility: hidden;
  padding: 0 15px;

  &[show="true"]{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

.modal{
  background: #fff;
  padding: 48px;
  max-width: 568px;
  width: 100%;
}

@media screen and (max-width: 500px){
  .modal__text,.modal__title{
    margin-bottom: 32px;
  }

  .modal__text{
    font-size: 14px;
  }

  .hello-modal{
    padding: 32px !important;
  }
}