.sidebar{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  padding: 32px;

  position: sticky;
  top: 100px
}

.upload-avatar-form{
  position: relative;
  max-width: 165px;
}

.profile__button_choose{
  width: 48px;
  height: 48px;
  box-shadow: 0px 4px 8px rgba(21, 21, 21, 0.12);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  background: #fff;
  bottom: 0px;
  right: -1px;
}

#upload_avatar{
  display: none;
}

.profile__username{
  margin: 24px 0;
}

.sidebar__text{
  color: $txt2;
  margin-bottom: 16px;
}

.profile__avatar{
  width: 165px;
  height: 165px;
  object-fit: cover;
}

.sidebar__title{
  margin-bottom: 16px;
}