.tag{
    margin-right: 4px;
    display: inline-block;
    font-size: 10px;
    color: $blue1_main;
    padding: 4px 8px;
    border-radius: 4px;
    background: rgba(215, 241, 255, 0.5);
    letter-spacing: 0.1em;
    line-height: 1.2em;
    text-transform: uppercase;
}