
.page-statistics{
	.little-title{
		opacity: .6
	}
}

.tile-fast-start__days-left{
	margin-bottom: 24px;
	line-height: 1em
}

.go-to-next-bonus{
	margin-left: -20px
}

.bold-title{
	font-weight: 600;
	font-size: 16px;
}

.steps{
	display: inline-block;

	&__current{
		color: $txt1_main;
	}
	&__all{
		color: $txt2
	}
}

.current-bonus{
	max-width: 140px;
	&__image{
		display: block;
		margin: 12px 0;
	}
}

.done, .done *{
	color: $blue1_main
}

.invited-peoples{
	margin-bottom: 24px;
}

.invited-peoples__item{
	width: 48px;
	height: 48px;
	border-radius: 4px;
	margin-right: 12px;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&.no-avatar{
		border: 2px dashed $grey1_stroke;
	}
}

.invited-user{
	box-shadow: $shadow_blk_light;
	display: inline-block;
	padding: 12px;
	padding-right: 0;
	position: absolute;
	z-index: 0;
	background: #fff;
	bottom: 10px;
	visibility: hidden;
	opacity: 0;
	left: 70px;
	transition: all .3s ease;
}


.range{
	height: 8px;
	width: 100%;
	background: #e6e7e8;
	display: block;
	margin-top: 12px;
	margin-bottom: 12px;
	position: relative;
	border-radius: 4px;
	// overflow-x: hidden;

	span{
		display: block;
		border-radius: 4px;
	}



	&__strong-branch{
		background: $blue1_main;
		position: relative;
		height: 8px;

		z-index: 99;
		border-radius: 4px;

		.invited-user{
			min-width: 237px;			
		}

		&:hover .invited-user{
			bottom: 24px;
			opacity: 1;
			visibility: visible;
			z-index: 999;
		}

		&:hover ~ .range__additional-volume{
			opacity: .5
		}
	}

	&__additional-volume{
		height: 8px;
		background: $blue2;
		position: relative;
		top: -8px;
		border-radius: 4px;
	}
}

.legend__item{
	margin: 0 64px 0 16px;
	position: relative;

	&::before{
		content: "";
		display: block;
		width: 8px;
		height: 8px;
		background: $blue1_main;
		position: absolute;
		top: 4px;
		left: -16px;
		border-radius: 4px
	}
}

.legend__item:nth-child(2)::before{
	background: $blue2
}

.legend__title{
	color: $txt2;
	margin-bottom: 5px;
}

.referals-slider{
	img{
		width: 120px;
		height: 120px;
		object-fit: cover
	}

	&__level{
		display: block;
		margin: 8px 0 16px 0;
	}	
}

.referals-slider__level{
	margin: 8px 0 16px 0;
}

.slick-track{
	margin-left: 0 !important
}

.referals-slider{
	margin-top: 4px;
	// margin-left: -32px;
	width: calc(100% + 64px);

	&__level{font-size: 14px;}

	&.slick-slider{
		margin-left: -32px;
	}
}

.referals-slider__slide{
	margin-right: 32px;
	max-width: 120px;

	.cell__user-nickname{
		font-size: 14px;
		display: block;
		width: 100%
	}
}

.slick-button{
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(12px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 10px;
	width: 40px;
	height: 46px;

	line-height: 65px;
	text-align: center;
	top: 70px;
	z-index: 999;

	transition: all .3s ease
}

.slick-next::before,.slick-prev::before{
	content: unset
}

.slick-next{
	right: 32px;
}

.slick-prev{
	left: 32px;
}

.no-referals{
	text-align: center;
	padding: 64px 0;
	border: 2px dashed $grey1_stroke;
	margin-bottom: 20px;

	.little-title{
		opacity: 1;
		margin-bottom: 12px;
	}
}

.pool-allocation{
    margin-top: 48px;
}

.list-of-branches{
	width: 100%;
	.range{
		max-width: 240px;
		margin-right: 24px;
	}

	li:not(:last-child){
		margin-bottom: 16px;
	}

	.steps{
	}

	&__left{
		width: 41%;
	}

	&__right{
		width: 70%;
	}

	.cell__info-btn{
		&:hover{
			path:first-child{
				fill: $blue1_main
			}
		}
	}

	.cell__info{
		position: relative;
	}

	.cell__info:hover{
		.tooltip{
			opacity: 1;
			visibility: visible;
		}
	}

	.tooltip{
		position: absolute;
		transition: all .3s ease;
		z-index: 99;
		top: -45px;
		left: 0;
		max-width: 122px;
		width: 122px;
		visibility: hidden;
	}
}

.rank-card{
	margin-bottom: 0;

	&__title{
		transition: all .3s ease
	}

	&:hover,&.card_chosen{
		.rank-card__title{
			color: $blue1_main
		}
	}

	&.card_chosen{
		.rank-btn{
			background: $yellow;
			border-color: $yellow	
		}
	}
}

.rank-picture{
	background: $grey2_bg;
	text-align: end
}

.remodal{
	.rank-picture{
		max-width: 217px;
		text-align: center;
		margin: auto;
		margin-bottom: 24px;

		img{
			height: auto
		}
	}
}

.remodal-rank, .remodal-rank a{
	font-size: 16px;
}

.remodal-rank__title{
	margin-bottom: 24px;
}

.remodal-rank__text{
	max-width: 426px;
	margin: 0 auto 24px auto
}

.remodal-rank__confirm-btn{
	max-width: 337px;
	width: 100%;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	display: block
}



.rank-btn{
	width: 100%;
	font-size: 16px;
	text-align: center;
	&:hover{
		background: $yellow;
		border-color: $yellow
	}
}
.bpa-modal{
	table{
		td:first-child{
			padding-left: 24px;
		}
	}
}


.bpa-modal__title{
	margin-top: 12px;
}

.bpa-modal__select{
	max-width: 117px;
	width: 100%;
	margin-right: 24px;
	padding-left: 0;
	font-size: 16px;
	margin-bottom: 4px;
}

.bpa-modal__select[name="select-year"]{
	max-width: 60px
}

.slick-slide{
	cursor: grab
}



@media screen and (max-width: 992px){
	.tile-income{
		grid-template-columns: 1fr 1fr;


		.tile__item:last-child{
			grid-column: 1/3
		}
	}

	.tile__number{
		font-size: 40px;
	}

	.go-to-next-bonus{
		margin-left: 0;
	}

	.tile-fast-start__days-left{
		margin-bottom: 16px;
	}

	.current-bonus{
		max-width: 100%
	}

	.current-bonus__image{
		margin: 8px 0
	}

	.little-desc{
		font-size: 11px;
	}

	.go-to-next-bonus{
		margin-top: 24px;
	}

	.legend__item{
		font-size: 12px;
		margin-right: 0;
	}

	.legend__item:first-child{
		margin-right: 48px;
	}

	.legend__title{
		margin-bottom: 0;
	}

	.no-referals{
		padding: 48px 24px;

		&__text{
			font-size: 12px !important;
		}
	}

	.referals-slider{
		width: calc(100% + 30px);
		// margin-left: -15px;

		.referals-slider__slide{
			margin-right: 10px;
			font-size: 12px;

			.done{
				font-size: 14px;
			}
		}

		&.slick-slider{
			margin-left: -15px;

			.referals-slider__slide{
				margin-right: 0;
			}
		}
	}

	.referals-slider__slide .cell__user-nickname{
		font-size: 12px;
	}

	.current-bonus__image{
		width: 96px;
	}

	.referals-slider__level{
		margin: 4px 0 12px 0
	}

	.referals-slider img{
		width: 96px;
		height: 96px;
		object-fit: cover;
	}

	.slick-button{
		top: 58px;
	}

	.slick-prev{
		left: 10px;
	}

	.slick-next{
		right: 10px;
	}

	.range__strong-branch:hover .invited-user{
		left: 30%
	}

	.legend__item{
		margin-bottom: 24px;
	}

	.current-rank{
		margin-bottom: 0;
	}

	.legend_cur_rank{
		margin-bottom: -16px;
	}


	.pool-allocation{
		.tile__table{
			td{
				font-size: 14px;
			}
		}
	}

	.list-of-branches{
		margin-top: 16px;
		.cell{
			flex-direction: column
		}

		.cell__user-nickname{
			font-size: 14px;
		}
	}

	.list-of-branches__left,
	.list-of-branches__right{
		width: 100%;
	}

	.list-of-branches__right{
		flex-direction: column;
	}

	.list-of-branches .range{
		margin-right: auto;
		max-width: 100%
	}

	.steps{
		margin-right: auto;
		font-size: 14px;
	}

	.pool-allocation{
		margin-top: 32px;
	}

	.current-bonus__image{
		width: 100%;
	}

	.rank-card{
		margin-bottom: 24px;
	}

	.remodal-rank{
		font-size: 14px;

		a{
			font-size: inherit;
		}
	}

	.remodal-rank__text{
		font-size: 14px;
	}

	.pool-allocation, .bpa-modal{
		.table__row:last-child{
			td:first-child{
				width: 100px
			}
		}
	}


	.bpa-modal__title{
		margin-bottom: 18px;
	}

	.bpa-modal__select{
		max-width: 90px
	}
}


@media screen and (max-width: 768px){
	.tile-income,.tile-bonus{
		grid-template-columns: 1fr;

		.tile__item:last-child{
			grid-column: 1/2
		}
	}


}