.banner_testing{
	background: #5EB9E8 url(../img/pattern2.svg) no-repeat right center/contain;
	border-radius: $radius;
}

.banner_testing__btn{
	margin-top: 32px;
	margin-bottom: 24px;
	font-size: 16px;
	margin-right: 32px;
}