.tile__title_withdrawal{
    margin-bottom: 16px;
}

.tile_withdrawal{
    padding-bottom: 0;
}
.tile_withdrawal-expanded{
    padding-bottom: 16px;
}

.withdrawal{
    & > &__inner:first-child{
        padding-bottom: 32px;
    }
    .withdrawal-hidden .withdrawal__inner:first-child{
        border-top: 2px solid $grey2_bg;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .input-group{
        width: calc(50% - 32px);
        position: relative;
        justify-content: space-between;
        margin-bottom: 0;
        // overflow-x: hidden;
    }

    .input-group__input{
        max-width: 302px;

    }

    .input-group__label{
        font-size: 14px;
        display: block;
        flex-shrink: 0;
        margin-bottom: 0;
        min-width: 180px;
        margin-right: 23px;

        span{
            display: block;
            margin-top: 8px;
            color: $txt2;
            font-size: 12px;
            line-height: 1.1;
        }
    }

    & &__inner{
        width: 100%;
        margin: 0 -32px 0 -32px;
        width: calc(100% + 64px);
        padding: 16px 32px;
    }

    .withdrawal__added-cards{
        max-width: 100%;
        width: 100%;
    }

    .withdrawal__add-card{
        width: 162px;
        height: 162px;
        margin-right: 12px;
        text-align: center;
        line-height: 162px;
        padding: 0;
        border: 2px dashed $grey1_stroke;
        border-radius: 4px;
        cursor: pointer;
        transition: all .3s ease;
        flex-shrink: 0;


        &:hover{
            border-color: $blue1_main;

            svg path{fill: $blue1_main}
        }
        
        // margin-right: auto;

        &.shrinked{
            width: 48px;
        }
    }
}

.input-group__input-element{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.1em;
}

#cardNumber{
    padding-left: 12px;
}


.cc-list{
    width: 100%;
    max-width: 810px;
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

.cc-list__item{
    flex-shrink: 0;
    margin: 0 12px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid $grey1_stroke;
    max-width: 212px;
    width: 100%;
    height: 162px;
    max-height: 162px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease;


    &:hover,&.default{
        border-color: $blue1_main;
        background: rgba(#D7F1FF80,0.5);

        svg path{
            fill: $blue1_main
        }
    }
}

.cc-item__name{
    font-weight: 600;
}

.cc-item__name{
    margin-bottom: 16px;
    line-height: 1.2;
}

.cc-item__card{
    font-size: 12px;
}

.context-menu{
    // overflow: hidden
}

.context-menu:hover .context-menu__list{
    visibility: visible;
    opacity: 1;
    top: 30px
}

.context-menu{
    position: relative;
    &__list{
        position: absolute;
        right: 0;
        top: 0px;
        background: #fff;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        padding: 12px 0;
        max-width: 170px;
        width: 186px;
        opacity: 0;
        transition: all .3s ease;
        visibility: hidden;
        z-index: 9999;
    }

    &__item{
        padding: 6px 0 8px 16px;
        cursor: pointer;
        &:hover{
            background: $grey2_bg;
        }
    }
}

.withdrawal__btn{
    margin-top: 32px;
    margin-bottom: 16px;
}



@media (max-width: 600px){
    .tile__balance{
        margin-top: 24px;
    }
    .tile__balance-caption{
        font-size: 12px;
    }
    .tile__balance-amount{
        font-size: 32px;
    }
    .tile__balance-amount span{
        font-size: 20px;
    }
    .tile p{
        font-size: 14px;
    }
    .tile__title_withdrawal{
        margin-bottom: 0;
    }
    .withdrawal .withdrawal__inner{
        margin: 0 0px 0 -15px;
        width: calc(100% + 30px);
        padding: 8px 24px;
    }
    .withdrawal .withdrawal-hidden .withdrawal__inner:first-child{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .withdrawal .input-group{
        width: 100%;
        flex-wrap: wrap !important;
    }
    .withdrawal .input-group:not(:last-child){
        margin-bottom: 16px;
    }

    .withdrawal .input-group__label span{
        margin: 4px 0 8px 0;
    }
    .withdrawal .input-group__input{
        max-width: 100%;
    }
    .withdrawal .input-group__input-element{
        top: 75%;
    }

    .withdrawal__btn{
        margin-top: 24px;
        margin-bottom: 0;
    }

    .context-menu__list{
        right: 0;
    }

}